.container-fluid
  #toggle
    .row
      .col-sm-6.text-right
        Safe Mode
      .col-sm-6
        = link_to root_path(safe: toggle_safe_mode) do
          %label.switch
            %input{type: 'checkbox', checked: safe_mode}
            .slider.round