#messages.grid
- @messages.each do |msg|
  .row
    .col-sm-2= msg.author
    .col-sm-9= msg.content
    .col-sm-1= msg.safe

#toggle
  .row
    .col-sm-6
      Safe Mode
    .col-sm-6
      = link_to @link do
        %label.switch
          %input{type: 'checkbox', checked: @checked}
          .slider.round