= render partial: 'toggle', locals: {toggle_safe_mode: @toggle_safe_mode, safe_mode: @safe_mode }

#messages.grid
  - @messages.each do |msg|
    .row.message{id: dom_id(msg)}
      .col-sm-2= msg.author
      .col-sm-10= msg.content