---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23Trump
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xa6EV4jyP639YG9GgeenJaXEW", oauth_nonce="7797a3684eb191d5bbb3d89e2b735e78",
        oauth_signature="5C2bBGeybtdQ7dXZn94cEJzPxUQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1488902078", oauth_token="481909236-bp73sK3J2ClXxw0IQaBJYC1triGOMB0aNPSrw0vm",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 07 Mar 2017 15:54:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0e7d1245ad03969398e64a2171eb60e5
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1488902978'
      X-Response-Time:
      - '532'
      X-Transaction:
      - 00385e7f00448486
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Tue Mar 07 15:54:20 +0000 2017","id":839142177322188800,"id_str":"839142177322188800","text":"RT
        @bocavista2016: LOVE THIS\n\n@POTUS greets a public tour of the WH\n\n\ud83c\uddfa\ud83c\uddf8
        Listen to their reaction \ud83c\uddfa\ud83c\uddf8\n\nhttps:\/\/t.co\/dfA5O2wPBA\n#Trump
        #MAGA\nD\u2026","truncated":false,"entities":{"hashtags":[{"text":"Trump","indices":[125,131]},{"text":"MAGA","indices":[132,137]}],"symbols":[],"user_mentions":[{"screen_name":"bocavista2016","name":"Boca
        Vista","id":4175166177,"id_str":"4175166177","indices":[3,17]},{"screen_name":"POTUS","name":"President
        Trump","id":822215679726100480,"id_str":"822215679726100480","indices":[30,36]}],"urls":[],"media":[{"id":839127152700211200,"id_str":"839127152700211200","indices":[101,124],"media_url":"http:\/\/pbs.twimg.com\/media\/C6Ut4xdUoAAhI3S.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6Ut4xdUoAAhI3S.jpg","url":"https:\/\/t.co\/dfA5O2wPBA","display_url":"pic.twitter.com\/dfA5O2wPBA","expanded_url":"https:\/\/twitter.com\/FoxBusiness\/status\/839127383600844800\/video\/1","type":"photo","sizes":{"small":{"w":680,"h":383,"resize":"fit"},"medium":{"w":1200,"h":675,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":839127383600844800,"source_status_id_str":"839127383600844800","source_user_id":56413858,"source_user_id_str":"56413858"}]},"extended_entities":{"media":[{"id":839127152700211200,"id_str":"839127152700211200","indices":[101,124],"media_url":"http:\/\/pbs.twimg.com\/media\/C6Ut4xdUoAAhI3S.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/C6Ut4xdUoAAhI3S.jpg","url":"https:\/\/t.co\/dfA5O2wPBA","display_url":"pic.twitter.com\/dfA5O2wPBA","expanded_url":"https:\/\/twitter.com\/FoxBusiness\/status\/839127383600844800\/video\/1","type":"video","sizes":{"small":{"w":680,"h":383,"resize":"fit"},"medium":{"w":1200,"h":675,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":839127383600844800,"source_status_id_str":"839127383600844800","source_user_id":56413858,"source_user_id_str":"56413858","video_info":{"aspect_ratio":[16,9],"duration_millis":64564,"variants":[{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/amplify_video\/839127152700211200\/pl\/oSWLppZ700QijWGn.m3u8"},{"bitrate":320000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/839127152700211200\/vid\/320x180\/gnc7BM_Fi1dYlXJ1.mp4"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/839127152700211200\/vid\/640x360\/nl_rhKbqjFTN1scM.mp4"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/amplify_video\/839127152700211200\/vid\/1280x720\/1XNanH5-TvTTDYTV.mp4"},{"content_type":"application\/dash+xml","url":"https:\/\/video.twimg.com\/amplify_video\/839127152700211200\/pl\/oSWLppZ700QijWGn.mpd"}]},"additional_media_info":{"title":"","description":"","embeddable":true,"monetizable":false,"source_user":{"id":56413858,"id_str":"56413858","name":"FOX
        Business","screen_name":"FoxBusiness","location":"New York, NY","description":"The
        official Twitter page of FOX Business Network: Capitalism lives here. Ask
        your cable provider for FOX Business in your neighborhood.","url":"http:\/\/t.co\/bfM3iji7VB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/bfM3iji7VB","expanded_url":"http:\/\/www.foxbusiness.com","display_url":"foxbusiness.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":657024,"friends_count":415,"listed_count":6719,"created_at":"Mon
        Jul 13 16:18:27 +0000 2009","favourites_count":0,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":116298,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"A87528","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/414491063\/fb-twitter-bg.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/414491063\/fb-twitter-bg.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/699974743751929856\/nf8OCM2A_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/699974743751929856\/nf8OCM2A_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/56413858\/1467210895","profile_link_color":"004E76","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"D9A050","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":794397081427394560,"id_str":"794397081427394560","name":"T.
        Ruth  Burns","screen_name":"truthpiks","location":"","description":"Mouth
        full of lies?","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":454,"friends_count":402,"listed_count":75,"created_at":"Fri
        Nov 04 04:33:18 +0000 2016","favourites_count":23664,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":23723,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/797984457194086400\/4FTqowjV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/797984457194086400\/4FTqowjV_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Mar 07 15:12:39 +0000 2017","id":839131687581777921,"id_str":"839131687581777921","text":"LOVE
        THIS\n\n@POTUS greets a public tour of the WH\n\n\ud83c\uddfa\ud83c\uddf8
        Listen to their reaction \ud83c\uddfa\ud83c\uddf8\n\nhttps:\/\/t.co\/dfA5O2wPBA\n#Trump
        #MAGA\nDear Mainstream Media","truncated":false,"entities":{"hashtags":[{"text":"Trump","indices":[106,112]},{"text":"MAGA","indices":[113,118]}],"symbols":[],"user_mentions":[{"screen_name":"[...]
